<ion-content>

    <ion-slides pager padding>

        <ion-slide class="slide-1">
            <!--<img style="max-width: 50vw; margin-bottom: 50px; " src="/assets/logo.png" alt="logo">-->

            <img class="top" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v211-bb-04-environment_3.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1400&s=805337e482786ce2d071d295fb22f51e" style="border-radius: 50%;  ">
            <div class="title-container">
                <ion-text class="title">Willkommen</ion-text>
                <p>
                    <ion-text class="text">Wische weiter, um alle Vorteile der App zu nutzen.</ion-text>
                </p>
            </div>
        </ion-slide>

        <ion-slide class="slide-2">
            <h1>
                <ion-text class="title">Erhalte Punkte für gekaufte Produkte!</ion-text>
            </h1>
            <br>
            <img src="/assets/intro-scan-button-arrow.png">
            <p>
                <ion-text class="text">
                    Drücke auf das Scan-Icon, um einen QR-Code von einem unserer Produkte zu scannen und entsprechend Punkte gutgeschrieben zu
                    bekommen.
                </ion-text>
            </p>
        </ion-slide>

        <ion-slide class="slide-3">
            <img src="/assets/intro-history.png">
            <br>
            <p>
                <ion-text class="text">
                    Behalte deine verdienten und ausgegebenen Punkte jederzeit im Blick.
                </ion-text>
            </p>
        </ion-slide>

        <ion-slide class="slide-4">
            <p>
                <ion-text class="text">
                    Lies spannende Artikel zu den Themen Kosmetik, Umwelt und Nachhaltigkeit.
                </ion-text>
            </p>
            <img src="/assets/intro-news.png">
        </ion-slide>

        <ion-slide class="slide-5">
            <img class="top" src="https://firebasestorage.googleapis.com/v0/b/ip2-naturkosmetik.appspot.com/o/logo.png?alt=media&token=2ec93f9e-6261-4ed8-924c-eecfc6a9623d">
            <ion-text class="title">
                Bereit?
            </ion-text>
            <br>
            <ion-button routerLink="/" routerDirection="forward" color="primary">Los geht's</ion-button>
        </ion-slide>

    </ion-slides>

</ion-content>
