<ion-content>

    <div class="content-container">

        <div class="logo-container">
            <img src="/assets/logo.png" alt="Karma Kosmetik Logo">
        </div>

        <div class="title-container">
            <ion-text>Hey du!</ion-text>
        </div>

        <p>
            Scanne den QR-Code mit der offiziellen App von Karma Kosmetik, um Punkte zu erhalten.
        </p>

        <div class="store-container">
            <img src="/assets/app-store-badge.svg" alt="Download on App Store">
            <img src="/assets/google-play-badge.png" alt="Download on Google Play">
        </div>
    </div>

</ion-content>
