<ion-header class="header-transparent">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <div class="color-bar"></div>

    <div class="icon-container">
        <span>
            <ion-icon name="person" color="light"></ion-icon>
        </span>
    </div>

    <div class="content-container" *ngIf="user?.name">
        <h1>{{ user.name }}</h1>
        <ion-text>{{ user.email }}</ion-text>
        <br>
        <br>
        <p>
            Du möchstest dein Konto bei Karma Kosmetik nicht weiternutzen? Schade! Dennoch werden wir deine Daten natürlich datenschutzkonform
            löschen. Zum Kündigen deines Accounts klicke <a>hier</a>.
            <br>
            <ion-text color="danger">Achtung: Dies kann nicht rückgängig gemacht werden!</ion-text>
        </p>


        <ion-fab vertical="bottom" horizontal="end" slot="fixed" margin
        (click)="authService.logout()">
            <ion-fab-button>
                <ion-icon name="log-out"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>


</ion-content>
